html, body {
    padding: 0;
    margin: 0;
    background: #fff;
}

.logo {
    float: left;
    width: 120px;
    height: 20px;
    margin: 16px 24px 16px 0;

}

.logo-vertical{
    float: left;
    width: 120px;
    height: 100px;
}

.ant-layout-content {
    padding: 16px 16px 16px 220px;
}

.ant-layout-footer {
    padding: 16px 16px 16px 220px;
}

.canvas-size {
    min-width: 1024px;
}